.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.bot-collection, .your-bot-army {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.bot-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  text-align: left;
  width: 200px;
  box-shadow: 2px 2px 12px #aaa;
}

.bot-avatar {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
